<div id='container'>
  <div id='map' class="leaflet-container leaflet-fade-anim" style="position: relative;"></div>
  <script>
    {% for map in site.data.mapdata.base %}
      var {{% if map.id %}}{{ map.id }} =  {% if map.format %}{{ map.format }}{% endif %}('{% if map.url %}{{ map.url }}{% endif %}',{
        attribution: 'Developed by <a href="https://lerryws.xyz/">wslerry</a> | {% if map.attribution %}{{ map.attribution }}{% endif %}'
      });
    {% endfor %}
    {% for map in site.data.mapdata.overlay %}
      var {{% if map.id %}}{{ map.id }} =  {% if map.format %}{{ map.format }}{% endif %}('{% if map.url %}{{ map.url }}{% endif %}',{
        attribution: 'Developed by <a href="https://lerryws.xyz/">wslerry</a> | {% if map.attribution %}{{ map.attribution }}{% endif %}'
      });
    {% endfor %}

    {% if site.data.mapdata.map_bound == true %}
      {% for map in site.data.mapdata.param %}
        var corner1  = L.latLng({{ map.y1 }}, {{ map.x1 }}),
        corner2  = L.latLng({{ map.y2 }}, {{ map.x2 }});
        var bounds = L.latLngBounds(corner1, corner2 );


        {% for map in site.data.mapdata.param %}
        var map = L.map('map', {
          center: [{{ map.lat }},{{ map.long }}], //lat,long 2.750239, 112.996826
          maxBounds: bounds,
          zoom: {{ map.zoom }},
          maxZoom: {{ map.maxZoom }},
          minZoom: {{ map.minZoom }},
          layers: [
          {% for map in site.data.mapdata.base %}{% if map.select == true %}{{map.id}}{% endif %}{% endfor %},
          {% for map in site.data.mapdata.overlay %}{% if map.select == true %}{{map.id}}{% endif %}{% endfor %}]
        });
        {% endfor %}
      {% endfor %}
    {% else %}
      {% for map in site.data.mapdata.param %}
        var map = L.map('map', {
          center: [{{ map.lat }},{{ map.long }}], //lat,long 2.750239, 112.996826
          zoom: {{ map.zoom }},
          maxZoom: {{ map.maxZoom }},
          minZoom: {{ map.minZoom }},
          layers: [
          {% for map in site.data.mapdata.base %}{% if map.select == true %}{{map.id}}{% endif %}{% endfor %},
          {% for map in site.data.mapdata.overlay %}{% if map.select == true %}{{map.id}}{% endif %}{% endfor %}]
        });
      {% endfor %}
    {% endif %}

    // load geojson data
    {% if site.data.mapdata.load_geojson == true %}

      function forEachFeature(feature, layer) {
        var popupContent = feature.properties.toLocaleString() +'</p>';
        layer.bindPopup(popupContent);
      }

      {% for map in site.data.mapdata.geojson %}
        var {{ map.id }}= L.geoJson(null, {onEachFeature: forEachFeature});
      {% endfor %}

      {% for map in site.data.mapdata.geojson %}
        $.getJSON("{{ map.url }}", function(data){ {{ map.id }}.addData(data);});
      {% endfor %}
    {% endif %}


    var baseMaps = {
      {% for map in site.data.mapdata.base %}
      "{% if map.name %}{{ map.name }}{% endif %}": {% if map.id %}{{ map.id }}{% endif %},
      {% endfor %}
    };

    var overlay = {
      {% for map in site.data.mapdata.overlay %}
      "{% if map.name %}{{ map.name }}{% endif %}": {% if map.id %}{{ map.id }}{% endif %},
      {% endfor %}
      {% if site.data.mapdata.load_geojson == true %}
        {% for map in site.data.mapdata.geojson %}
        "{% if map.name %}{{ map.name }}{% endif %}": {% if map.id %}{{ map.id }}{% endif %},
        {% endfor %}
      {% endif %}
    };

    L.control.layers(baseMaps, overlay, {collapsed: true}).addTo(map);

    map.addControl(new L.Control.Fullscreen());

    // L.Routing.control({
    //   waypoints: [
    //   L.latLng(4.3868, 114.0169),
    //   L.latLng(3.1947, 113.0874)
    //   ],
    //   routeWhileDragging: true,
    // }).addTo(map);
  </script>
</div>
