<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">

{% include head.html %}

<body>

{{ content }}
<!-- WhatsHelp.io widget -->
<!-- <script type="text/javascript">
    (function () {
        var options = {
            whatsapp: "+60198908285", // WhatsApp number
            email: "lerryws.xyz@outlook.com", // Email
            call_to_action: "Need help? Message me", // Call to action
            button_color: "#62c24b", // Color of button
            position: "right", // Position may be 'right' or 'left'
            order: "whatsapp,email", // Order of buttons
        };
        var proto = document.location.protocol, host = "whatshelp.io", url = proto + "//static." + host;
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
        s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
    })();
</script> -->
<!-- WhatsHelp.io widget -->
<script type="text/javascript">
    (function () {
        var options = {
            whatsapp: "+60198908285", // WhatsApp number
            telegram: "lerryws", // Telegram bot username
            email: "lerryws.xyz@outlook.com", // Email
            call_to_action: "Do you need help?", // Call to action
            button_color: "#A8CE50", // Color of button
            position: "right", // Position may be 'right' or 'left'
            order: "whatsapp,telegram,email", // Order of buttons
        };
        var proto = document.location.protocol, host = "whatshelp.io", url = proto + "//static." + host;
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
        s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
    })();
</script>
<!-- /WhatsHelp.io widget -->
</body>
</html>
